################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cgame/CopilotIndices/17.14.1091.29919
/.vs/cgame/FileContentIndex
/.vs/cgame/v17/ipch/AutoPCH
